## Importing libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Data

In [2]:
bundesliga_23_24_player = pd.read_csv('../Dataset/Bundesliga_2023-2024_player_data.csv')
bundesliga_22_23_player = pd.read_csv('../Dataset/Bundesliga_2022-2023_player_data.csv')
bundesliga_21_22_player = pd.read_csv('../Dataset/Bundesliga_2021-2022_player_data.csv')

In [3]:
print("shape of 2023/2024 data" , bundesliga_23_24_player.shape)
print("shape of 2022/2023 data" , bundesliga_22_23_player.shape)
print("shape of 2021/2022 data" , bundesliga_21_22_player.shape)

shape of 2023/2024 data (1988, 54)
shape of 2022/2023 data (9481, 54)
shape of 2021/2022 data (9368, 54)

In [4]:
bundesliga_23_24_player.head()

,index,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,...,Att_y.2,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,home,game_id
0,0,Marvin Ducksch,7.0,de GER,FW,29-164,90,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,1,Niclas Füllkrug,11.0,de GER,FW,30-190,90,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,2,Anthony Jung,3.0,de GER,LW,31-288,78,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,3,Leon Opitz,35.0,de GER,LW,18-129,12,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4,4,Mitchell Weiser,8.0,de GER,RW,29-119,58,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0

In [5]:
bundesliga_22_23_player.head()

,index,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,...,Att_y.2,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,home,game_id
0,0,Rafael Borré,19.0,co COL,FW,26-324,45,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,1,Randal Kolo Muani,9.0,fr FRA,FW,23-243,45,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,2,Mario Götze,27.0,de GER,"RM,AM",30-063,90,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,3,Jesper Lindstrøm,29.0,dk DEN,AM,22-157,45,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4,4,Christopher Lenz,25.0,de GER,LB,27-317,45,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0

In [6]:
bundesliga_21_22_player.head()

,index,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,...,Att_y.2,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,home,game_id
0,0,Alassane Pléa,14.0,fr FRA,FW,28-156,63,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
1,1,Marcus Thuram,10.0,fr FRA,FW,24-007,27,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,2,Hannes Wolf,11.0,at AUT,LW,22-119,71,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,3,Keanan Bennetts,37.0,eng ENG,LW,22-157,19,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4,4,Patrick Herrmann,7.0,de GER,RW,30-182,63,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0

The index column in each dataframe is of no use since the dataframe itself has an index so we will drop it from each dataframe

In [7]:
bundesliga_23_24_player.drop(columns = ['index'] , inplace = True)
bundesliga_22_23_player.drop(columns = ['index'] , inplace = True)
bundesliga_21_22_player.drop(columns = ['index'] , inplace = True)

## Feature Engineering

## Season

Adding a feature to each table to indicate the season at which the game was played

In [8]:
bundesliga_23_24_player['season'] = '2023-2024'
bundesliga_22_23_player['season'] = '2022-2023'
bundesliga_21_22_player['season'] = '2021-2022'

## Team

Adding a feature to indicate the team each player plays for. We will make use of teams data to add this feature

In [9]:
bundesliga_23_24 = pd.read_csv('../Dataset/Bundesliga_2023-2024.csv')
bundesliga_22_23 = pd.read_csv('../Dataset/Bundesliga_2022-2023.csv')
bundesliga_21_22 = pd.read_csv('../Dataset/Bundesliga_2021-2022.csv')

teams and players dataframes have a common column called `game_id`, we will use that column to merge players and teams dataframes for each season

In [10]:
player_team_df_23_24 = bundesliga_23_24_player.merge(bundesliga_23_24 , on = 'game_id' , how = 'inner')
player_team_df_22_23 = bundesliga_22_23_player.merge(bundesliga_22_23 , on = 'game_id' , how = 'inner')
player_team_df_21_22 = bundesliga_21_22_player.merge(bundesliga_21_22 , on = 'game_id' , how = 'inner')

selecting player's name and whether his team played at home from player data and selecting the home and away team names from teams data. we want this information just one time for each player to know the name of the team so we will drop duplicate rows

In [11]:
player_team_df_23_24 = player_team_df_23_24[['Player', 'home' , 'Home' , 'Away']].drop_duplicates(subset = 'Player')
player_team_df_22_23 = player_team_df_22_23[['Player', 'home' , 'Home' , 'Away']].drop_duplicates(subset = 'Player')
player_team_df_21_22 = player_team_df_21_22[['Player', 'home' , 'Home' , 'Away']].drop_duplicates(subset = 'Player')

Getting each player's team name

In [12]:
def get_player_team(row):
    return row['Home'] if row['home'] == 1 else row['Away']

player_team_df_23_24['Team'] = player_team_df_23_24.apply(get_player_team , axis = 1).values
player_team_df_22_23['Team'] = player_team_df_22_23.apply(get_player_team , axis = 1).values
player_team_df_21_22['Team'] = player_team_df_21_22.apply(get_player_team , axis = 1).values

Adding the team name to players dataframes, the function `add_team_col` takes as input the players dataframe for a given season along with the joined dataframe of players and teams data for the same season, then it creates a new column for the team name and loops through each row in players dataframe taking the player's name and using it to get the team name from the joined players and teams dataframe

In [13]:
def add_team_col(player , player_team):
    player['Team'] = np.nan
    for index , row in player.iterrows():
        player.at[index , 'Team'] = (player_team.loc[player_team['Player'] == row['Player'] , 'Team'].values[0])

In [14]:
add_team_col(bundesliga_23_24_player , player_team_df_23_24)
add_team_col(bundesliga_22_23_player , player_team_df_22_23)
add_team_col(bundesliga_21_22_player , player_team_df_21_22)

In [15]:
bundesliga_23_24_player.head()

,Player,#,Nation,Pos,Age,Min,Gls,Ast,PK,PKatt,...,AvgLen.1,Opp,Stp,Stp%,#OPA,AvgDist,home,game_id,season,Team
0,Marvin Ducksch,7.0,de GER,FW,29-164,90,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Werder Bremen
1,Niclas Füllkrug,11.0,de GER,FW,30-190,90,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Werder Bremen
2,Anthony Jung,3.0,de GER,LW,31-288,78,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Werder Bremen
3,Leon Opitz,35.0,de GER,LW,18-129,12,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Werder Bremen
4,Mitchell Weiser,8.0,de GER,RW,29-119,58,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,2023-2024,Werder Bremen

Merging the 3 seasons data into one dataframe

In [ ]:
player_df = pd.concat([bundesliga_23_24_player , bundesliga_22_23_player , bundesliga_21_22_player],ignore_index = True)
player_df.head()

# Data Cleaning

In [ ]:
player_df.info()

## Handling missing values

The columns `SoTA`, `GA`, `Saves`, `Save%`, `PSxG`, `Cmp_y`, `Att_y`, `Cmp%_y`, `Att_y.1`, `Thr`, `Launch%`, `AvgLen`, `Att_y.2`, `Launch%.1`, `AvgLen.1`, `Opp`, `Stp`, `Stp%`, `#OPA`, `AvgDist` have extremely high null values count so we will drop them

In [ ]:
player_df.drop(columns = ['SoTA', 'GA', 'Saves', 'Save%',
       'PSxG', 'Cmp_y', 'Att_y', 'Cmp%_y', 'Att_y.1', 'Thr', 'Launch%',
       'AvgLen', 'Att_y.2', 'Launch%.1', 'AvgLen.1', 'Opp', 'Stp', 'Stp%',
       '#OPA', 'AvgDist'], axis = 1 , inplace = True)

In [ ]:
player_df.isna().sum()

In [ ]:
player_df[player_df['#'].isna()]

We will drop this row since it doesn't include any useful information

In [ ]:
player_df.drop(player_df[player_df['#'].isna()].index , inplace = True)

The columns Age, Touches, Tkl, Blocks,xG, npxG, xAG, SCA, GCA, Cmp_x, Att_x all have the same number of missing values so we will inspect them to see if there's some pattern for this data loss

In [ ]:
player_df[(player_df['Age'].isna()) & (player_df['Touches'].isna()) & (player_df['Tkl'].isna()) & 
          (player_df['Blocks'].isna()) & (player_df['xG'].isna()) & (player_df['npxG'].isna()) & 
          (player_df['xAG'].isna()) & (player_df['SCA'].isna()) & (player_df['GCA'].isna()) & 
          (player_df['Cmp_x'].isna()) & (player_df['Att_x'].isna()) ]

All the missing values for these columns correspond to the same player so we will remove all rows associated with that player

In [ ]:
player_df.drop(player_df[player_df['Player'] == "Omar Marmoush"].index, inplace=True)

Checking the null values for the column `Cmp%_x` and see if that has anything to do with related features such as `Att_x` , `Cmp_x`

In [ ]:
player_df.loc[player_df['Cmp%_x'].isna() , ["Cmp_x" , "Att_x" , 'Cmp%_x']]

It looks like `Cmp%_x` is null when `Att_x` is zero which makes sense becaue when attempted passes are zero completed passes are of course zero so when trying to compute completed passes percentage we will be dividing zero by zero which is undefined

## Converting Age to numeric values

In [ ]:
player_df['Age'].value_counts()

In [ ]:
player_df['Age'] = pd.to_numeric(player_df['Age'].str.split("-" , expand = True)[0] , errors = "coerce")
player_df['Age'].value_counts()

In [ ]:
player_df['Age'].isna().sum()

## Handling muliple values in the position column

for some rows the position column has multiple values for matches in which the player played in more than positions.

In [ ]:
player_df['Pos'].value_counts()

We will handle that case by replacing the columns with multiple values with thme most common position, and if the most common position itself was multiple positions we will take the first one

In [ ]:
# getting the most common position for each player 
# if the most common position has multiple values we take the first one
most_common_pos =  player_df.groupby('Player')['Pos'].apply(lambda x: x.mode().iloc[0]).str.split("," , expand = True)[0]
player_df['Pos'] = player_df.apply(lambda row: most_common_pos[row['Player']] , axis = 1).values

# Data Analysis

## Age

### Age Distribution

In [ ]:
latest_age_per_player = player_df.groupby('Player')['Age'].max()
plt.figure(figsize = (8,6))
sns.boxplot(latest_age_per_player)
plt.title("Age distribution in the Bundesliga")
plt.ylabel("age")
plt.show()

Most of the player are between 20 and 30 which is normal for football player but we have some younger players below 20 and some older players in their late 30s. Let's figure out the youngest and oldest players in the Bundesliga for this period

In [ ]:
# youngest 5 players
latest_age_per_player.sort_values().head(5)

In [ ]:
latest_age_per_player.sort_values(ascending = False).head(5)

## Minutes Played

In [ ]:
mins_df = player_df.groupby('Player').agg({'Min': 'mean' , 'Pos': 'first'})

### Players with highest average minutes played and their positions

In [ ]:
mins_df.sort_values(by = 'Min',ascending = False).head(50)

Most of the players with highes average minutes played are goalkeepers which makes sense because goalkeepers rarely get benched, 
we can inspect this more by looking at the average minutes played for each positions

In [ ]:
mins_per_pos = player_df.groupby('Pos')['Min'].mean().reset_index()
mins_per_pos

Visualizing the result

In [ ]:
plt.figure(figsize = (8,6))
sns.barplot(mins_per_pos.sort_values(by = 'Min' , ascending = False) , x = 'Pos' , y = 'Min')
plt.title('Average minutes played for each position')
plt.xlabel('Position')
plt.ylabel('Average minutes Played')
plt.show()

### Average minutes played vs age

In [ ]:
mins_age_df = player_df.groupby('Player').agg({'Min': 'mean' , 'Age': 'first'})

In [ ]:
plt.figure(figsize = (8 , 6))
sns.scatterplot(mins_age_df , x = 'Age' , y = 'Min')
plt.title("Age vs Average minutes played")
plt.xlabel("Age")
plt.ylabel("Average minutes")
plt.show()

The graph doesn't show a specific pattern about the relation between player's age and average playing minutes, we can verify this by calculating the correlation

In [ ]:
player_df['Age'].corr(player_df['Min'])

## Goals and Assists

Frequency of goals scored by a given player every match

In [ ]:
plt.figure(figsize = (8,6))
sns.countplot(data = player_df , x = 'Gls')
plt.title("Frequency of goals scored")
plt.xlabel("Number of goals")
plt.ylabel("count")
plt.show()

### Top scorers

#### Top scorers for 2021-2022 season

In [ ]:
player_df[player_df['season'] == '2021-2022'].groupby('Player').agg({'Pos': 'first','Team': 'first','Age':'first','Gls': 'sum' 
                                                                     , 'xG': 'sum' , 'npxG': 'sum'}).reset_index().sort_values(by = 'Gls' , 
                                                                    ascending = False).head(10)

#### Top scorers for 2022-2023 season

In [ ]:
player_df[player_df['season'] == '2022-2023'].groupby('Player').agg({'Pos': 'first','Team': 'first','Age':'first','Gls': 'sum' , 'xG': 'sum' 
    , 'npxG': 'sum' , }).reset_index().sort_values(by = 'Gls' , ascending = False).head(10)

The number of goals for the top scorers decreased a lot in 2022-2023, for example Christopher Nkunku scored 20 goals in 2021-2022 season and came 4th but he needed only 16 to become the top scorer of 2022-2023 season

#### Top scorers for 2023-2024 season so far

In [ ]:
player_df[player_df['season'] == '2023-2024'].groupby('Player').agg({'Pos': 'first','Team': 'first','Age':'first','Gls': 'sum' , 'xG': 'sum' 
    , 'npxG': 'sum' , 'Team': 'first'}).reset_index().sort_values(
    by = 'Gls' , ascending = False).head(10)

After few rounds of 2023-2024 season, Serhou Guirassy is already 3 goals away from the previous season's top scorer and he scored 13 goals from 7.3 expected goals which is really impressive.

#### shot success rate

Measuring the ratio between goals scored and shots attempted

In [ ]:
sh_df = player_df.groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Gls': 'sum' , 'Sh': 'sum'}).reset_index()
sh_df['success rate'] = np.where(sh_df['Sh'] > 0, sh_df['Gls'] / sh_df['Sh'], np.nan)
sh_df.sort_values(by = ['Gls','success rate'] , ascending = False).head(10)

### Top Assisters

#### Top assisters 2021-2022 season

In [ ]:
player_df[player_df['season'] == '2021-2022'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Ast': 'sum','xAG':'sum' , 
    'Team': 'first'}).reset_index().sort_values(by = 'Ast' , ascending = False).head(10)

#### Top assisters 2022-2023 season

In [ ]:
player_df[player_df['season'] == '2022-2023'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Ast': 'sum','xAG':'sum' , 
    'Team': 'first'}).reset_index().sort_values(
    by = 'Ast' , ascending = False).head(10)

#### Top assisters 2023-2024 so far

In [ ]:
player_df[player_df['season'] == '2023-2024'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Ast': 'sum','xAG':'sum' , 
    'Team': 'first'}).reset_index().sort_values(by = 'Ast' , ascending = False).head(10)

## Shot-creating actions

#### 2021-2022 season

In [ ]:
player_df[player_df['season'] == '2021-2022'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','SCA': 'sum','Team': 'first'}).reset_index().sort_values(
    by = 'SCA' , ascending = False).head(10)

#### 2022-2023 season

In [ ]:
player_df[player_df['season'] == '2022-2023'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','SCA': 'sum','Team': 'first'}).reset_index().sort_values(
    by = 'SCA' , ascending = False).head(10)

#### 2023-2024 season so far

In [ ]:
player_df[player_df['season'] == '2023-2024'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','SCA': 'sum','Team': 'first'}).reset_index().sort_values(
    by = 'SCA' , ascending = False).head(10)

## Goal-creating actions

#### 2021-2022 season

In [ ]:
player_df[player_df['season'] == '2021-2022'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','GCA': 'sum'}).reset_index().sort_values(
    by = 'GCA' , ascending = False).head(10)

#### 2022-2023 season

In [ ]:
player_df[player_df['season'] == '2022-2023'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','GCA': 'sum'}).reset_index().sort_values(
    by = 'GCA' , ascending = False).head(10)

#### 2023-2024 season so far

In [ ]:
player_df[player_df['season'] == '2023-2024'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','GCA': 'sum'}).reset_index().sort_values(
    by = 'GCA' , ascending = False).head(10)

## Penalties

In [ ]:
pen_df = player_df.groupby('Player').agg({'PK': 'sum','Team': 'first','Age':'first' , 'PKatt': 'sum'}).reset_index()
pen_df['success rate'] = np.where(pen_df['PKatt'] > 0, pen_df['PK'] / pen_df['PKatt'], np.nan)
pen_df.sort_values(by = ['PK','success rate'] , ascending = False).head(10)

## Defensive stats

### Tackles

#### 2021-2022 season

In [ ]:
player_df[player_df['season'] == '2021-2022'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Tkl': 'sum'}).reset_index().sort_values(
    by = 'Tkl' , ascending = False).head(10)

#### 2022-2023 season

In [ ]:
player_df[player_df['season'] == '2022-2023'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Tkl': 'sum'}).reset_index().sort_values(
    by = 'Tkl' , ascending = False).head(10)

#### 2023-2024 season so far

In [ ]:
player_df[player_df['season'] == '2023-2024'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Tkl': 'sum'}).reset_index().sort_values(
    by = 'Tkl' , ascending = False).head(10)

### Interceptions

#### 2021-2022 season

In [ ]:
player_df[player_df['season'] == '2021-2022'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Int': 'sum'}).reset_index().sort_values(
    by = 'Int' , ascending = False).head(10)

#### 2022-2023 season

In [ ]:
player_df[player_df['season'] == '2022-2023'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Int': 'sum'}).reset_index().sort_values(
    by = 'Int' , ascending = False).head(10)

#### 2023-2024 season so far

In [ ]:
player_df[player_df['season'] == '2023-2024'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Int': 'sum'}).reset_index().sort_values(
    by = 'Int' , ascending = False).head(10)

### Blocks

#### 2021-2022 season

In [ ]:
player_df[player_df['season'] == '2021-2022'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Blocks': 'sum'}).reset_index().sort_values(
    by = 'Blocks' , ascending = False).head(10)

#### 2022-2023 season

In [ ]:
player_df[player_df['season'] == '2022-2023'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Blocks': 'sum'}).reset_index().sort_values(
    by = 'Blocks' , ascending = False).head(10)

#### 2023-2024 season

In [ ]:
player_df[player_df['season'] == '2023-2024'].groupby('Player').agg({'Pos':'first','Team': 'first','Age':'first','Blocks': 'sum'}).reset_index().sort_values(
    by = 'Blocks' , ascending = False).head(10)

## Cards

Players with most yellow cards

In [ ]:
yellow_cards = player_df.groupby('Player').agg({'Pos': 'first' ,'Team': 'first','Age':'first' , 'CrdY': 'sum' , 'Min': 'mean'}).reset_index()
yellow_cards.sort_values(by = ['CrdY' , 'Min'], ascending = [False , True]).head(10)

Players with most red cards

In [ ]:
red_cards = player_df.groupby('Player').agg({'Pos': 'first' , 'Team': 'first','Age':'first' , 'CrdR': 'sum' , 'Min': 'mean'}).reset_index()
red_cards.sort_values(by = ['CrdR' , 'Min'], ascending = [False , True]).head(10)

## Carries

Players with most carries and their progressive carry rate

In [ ]:
carries_df = player_df.groupby('Player').agg({'Pos': 'first' , 'Team': 'first','Age':'first' , 'Carries': 'sum' , 'PrgC': 'sum'}).reset_index()
carries_df['Progressive carry rate'] = carries_df['PrgC'] / carries_df['Carries']
carries_df.sort_values(by =['PrgC' ,'Progressive carry rate'] , ascending = False).head(10)

## Passes

The data available for passes completed and passes attempted is available for home matches only since we dropped the data for away matches because it had very high null count

In [ ]:
pass_df = player_df.groupby('Player').agg({'Pos': 'first' , 'Team': 'first','Age':'first' , 'Min': 'sum' , 'Cmp_x': 'sum' , 'Att_x': 'sum'}).reset_index()
pass_df['successful passes rate'] = pass_df['Cmp_x'] / pass_df['Att_x']
pass_df.sort_values(by =['Cmp_x' ,'successful passes rate'] , ascending = False).head(10)

### Progressive Passes

In [ ]:
progressive_passes_df = player_df.groupby('Player').agg({'Pos': 'first' , 'Team': 'first','Age':'first' , 'PrgP': 'sum' , 'Min': 'sum'}).reset_index()
progressive_passes_df.sort_values(by = 'PrgP' , ascending = False).head(10)

Joshua Kimmich dominates the passing stats, he is the one with the most completed passes and the most progressive passes

## Sucessful actions

Players with the most successful actions

In [ ]:
succ_df = player_df.groupby('Player').agg({'Pos': 'first' , 'Team': 'first','Age':'first' , 'Succ': 'sum' , 'Min': 'sum'}).reset_index()
succ_df.sort_values(by = 'Succ' , ascending = False).head(10)

## Predicting players performance
We will develop a machine learning model to predict the number of goals a player will score in a given match.

### Dropping irrelevant columns

game_id, player's name, nationality, and shirt number are irrelevnat for the goals he scores. We will also drop the completed pass percentage since it has null values

In [ ]:
player_df_pred = player_df.drop(columns = ['#' , 'game_id' , 'Player' , 'Nation' , "Cmp%_x"] , axis = 1)
player_df_pred.head()

### Correlation

Which values are highly correlated with the target?

In [ ]:
plt.figure(figsize = (8 , 6))
sns.heatmap(player_df_pred.corr(numeric_only = True))
plt.title("Pairwise Correlations")
plt.show()

`xG`, `npxG`, and `SOT` are the features with the highest correlation with the target `Gls`

### Mutual Information

Mutual information measures the degree of dependency between two random variables, quantifying the amount of information gained about one variable by observing the other

In [ ]:
from sklearn.feature_selection import mutual_info_regression
features = player_df_pred.drop(['Gls'], axis=1).select_dtypes(['int' , 'float']) 
target = player_df_pred['Gls']
mi_scores = mutual_info_regression(features, target, random_state=42)
mi_df = pd.DataFrame({'Feature': features.columns, 'MI_Score': mi_scores})
mi_df = mi_df.sort_values(by='MI_Score', ascending=False)
mi_df

In [ ]:
plt.figure(figsize=(10, 6))
plt.barh(mi_df['Feature'], mi_df['MI_Score'])
plt.xlabel('Mutual Information Score')
plt.title('Mutual Information Scores for Features')
plt.show()

We will drop features with zero mutual information because they're uninformative

In [ ]:
player_df_pred = player_df_pred.drop(features.loc[: , mi_scores == 0].columns , axis = 1)
player_df_pred.head()

### Encoding Categorical Features

In [ ]:
player_df_pred = pd.get_dummies(player_df_pred, columns=player_df_pred.select_dtypes('object').columns).astype(float)
player_df_pred.head()

### Train Test Split

We will split the data into train, validation, and test sets based on dates in order to simulate real-world scenarios, as it helps assess a model's performance on unseen future data, preventing potential information leakage and providing a more reliable evaluation of its generalization ability over time.

training data will be 2021-2022 season data along with the first quarter of 2022-2023 season, validation data will be from second quartar to third quarter of 2022-2023 season, test data will be last quarter of 2022-2023 season along with data available for 2023-2024 season

In [ ]:
train_len = len(player_df_pred[player_df_pred['season_2022-2023'] == 1]) // 4

train = pd.concat([player_df_pred[player_df_pred['season_2021-2022'] == 1],
                   player_df_pred[player_df_pred['season_2022-2023'] == 1][:train_len]])

validation = player_df_pred[player_df_pred['season_2022-2023'] == 1][train_len: 3 * train_len]

test = pd.concat([player_df_pred[player_df_pred['season_2022-2023'] == 1][3 * train_len:]
                  , player_df_pred[player_df_pred['season_2023-2024'] == 1]])

In [ ]:
train.shape , validation.shape , test.shape

In [ ]:
X_train , y_train = train.drop('Gls' , axis = 1) , train['Gls']
X_val , y_val = validation.drop('Gls' , axis = 1) , validation['Gls']
X_test , y_test = test.drop('Gls' , axis = 1) , test['Gls']

In [ ]:
print("Size of the training data" , X_train.shape[0] , " rows")
print("Size of the validation data" , X_val.shape[0] , " rows")
print("Size of the test data" , X_test.shape[0] , " rows")

### Feature Scaling

Using `RobustScaler` to scale the data because it scales features using robust statistical measures (median and interquartile range) to reduce the impact of extreme values and improve the robustness of machine learning models.

In [ ]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)

## Training a linear regression model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
linear_regression_model = LinearRegression()
linear_regression_model.fit(X_train_scaled , y_train)

In [ ]:
y_train_pred = linear_regression_model.predict(X_train_scaled)
print("Training root mean squared error" , np.sqrt(mean_squared_error(y_train , y_train_pred)))

### Evaluation on the validation set

In [ ]:
y_val_pred = linear_regression_model.predict(X_val_scaled)
print("Validation root mean squared error" , np.sqrt(mean_squared_error(y_val , y_val_pred)))

The `RMSE` is quite reasonable and close to the training `RMSE`

### Evaluation on the test set

In [ ]:
y_test_pred = linear_regression_model.predict(X_test_scaled)
print("test root mean squared error" , np.sqrt(mean_squared_error(y_test , y_test_pred)))

The model performs so poorly on the test set, maybe it's too simple to learn the patterns in the data. Let's another model

## Training a K-nearest neighbors model

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
k_scores = []
for k in range(1 , 15):
    knn_model = KNeighborsRegressor(n_neighbors = k)
    knn_model.fit(X_train_scaled , y_train)
    y_train_pred = knn_model.predict(X_train_scaled)
    y_val_pred = knn_model.predict(X_val_scaled)
    k_scores.append((knn_model , np.sqrt(mean_squared_error(y_val , y_val_pred))))
    print("K = " , k, " Training root mean squared error" , np.sqrt(mean_squared_error(y_train , y_train_pred)) , 
          "Validation root mean squared error" , np.sqrt(mean_squared_error(y_val , y_val_pred)))

In [ ]:
plt.plot(range(1 , 15) , [tup[1] for tup in k_scores])
plt.xlabel("number of neighbors")
plt.ylabel("RMSE")
plt.title("Number of neighbors vs RMSE")
plt.show()

the validation `RMSE` doesn't decrease much starting from k = 6 and it starts to be more stable as k increases. the lowest validation `RMSE` is at k = 11. We will choose this a the k value

In [ ]:
knn_model = k_scores[10][0]
knn_model

### Evaluating on test set

In [ ]:
y_test_pred = knn_model.predict(X_test_scaled)
print("Test root mean squared error" , np.sqrt(mean_squared_error(y_test , y_test_pred)))

The `RMSE` is close to the train and validation set and it's much better than the linear regression model. This is our best model so far but let's try more models to see if we can do better

## Training a Random Forest model

In [ ]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model on the training data
rf_model.fit(X_train_scaled, y_train)

In [ ]:
y_train_pred = rf_model.predict(X_train_scaled)
print("Train root mean squared error" , np.sqrt(mean_squared_error(y_train , y_train_pred)))

### Evaluating on validation set

In [ ]:
y_val_pred = rf_model.predict(X_val_scaled)
print("Validation root mean squared error" , np.sqrt(mean_squared_error(y_val , y_val_pred)))

The  validation `RMSE` is a bit lower than the KNN model, let's check the test `RMSE`

### Evaluating on test set

In [ ]:
y_test_pred = rf_model.predict(X_test_scaled)
print("Test root mean squared error" , np.sqrt(mean_squared_error(y_test , y_test_pred)))

## Training xgboost model

In [ ]:
from xgboost import XGBRegressor
xgb_model = XGBRegressor(n_estimators = 100 , learning_rate = 0.1 , random_state = 42)

xgb_model.fit(X_train_scaled , y_train)

In [ ]:
y_train_pred = xgb_model.predict(X_train_scaled)
print("Train root mean squared error" , np.sqrt(mean_squared_error(y_train , y_train_pred)))

### Evaluation on the validation set

In [ ]:
y_val_pred = xgb_model.predict(X_val_scaled)
print("Validation root mean squared error" , np.sqrt(mean_squared_error(y_val , y_val_pred)))

### Evaluation on the test set

In [ ]:
y_test_pred = xgb_model.predict(X_test_scaled)
print("Test root mean squared error" , np.sqrt(mean_squared_error(y_test , y_test_pred)))

The xgboost model is our best fitted model since it's the one with lowest test `RMSE`.